/* Add a black background color to the top navigation */
.body{
	background-color:white;
}

.topnav {
  background-color: black;
	overflow: hidden;
}
table{
	width="500";
	border="0";
	cellpadding="5";
}
td{
	padding : 30px;
	align="center";
	valign="center";
}

img{
	width:200px;
	height:200px;
	opacity: 1;
  cursor: pointer;
}
img:hover {
  opacity: 0.8;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
	color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: blue;
}

/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.container {
  position: relative;
  display: none;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}
